## IDEA
.idea/
jiesoul.iml

## vscode
.calva/
.clj-kondo/
.cpcache
.history/
.lsp
.vscode/

## Mac
.DS_Store

## clojure
.nrepl-port
.shadow-cljs/
node_modules/
public/js
public/css
resources/data/jiesoul.db

logs/
package-lock.json
dev-resources/