{:source-paths "src/cljs"
 
 :dependencies [[reagent "1.1.1"]
                 [applied-science/is-interop "0.3.3"]]
 
 :builds {:app {:target :brower
                :output-dir "resources/public/js"
                :asset-path "/js"
                :module-hash-names true
                :modules {:app {init-fm jiesoul.app/init!}}
                :build-hooks [(shadow.cljs.build-report/hook)]
                :devtools {:watch-dir "public"}}}}