{:source-paths ["src/cljs"]
 :repositories {"central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :dependencies [[reagent "1.2.0"]
                [re-frame "1.3.0"]
                [applied-science/js-interop "0.4.1"]
                [day8.re-frame/http-fx "0.2.4"]
                [day8.re-frame/re-frame-10x "1.5.0"]
                [binaryage/devtools "1.0.6"]
                [hashp "0.2.2"]
                [metosin/reagent-dev-tools "1.0.0"]
                [metosin/reitit "0.6.0"]
                [org.clojure/tools.logging "1.2.4"]
                [ch.qos.logback/logback-classic "1.4.5"]]
;;  :jvm-opts ["-DsocksProxyHost=127.0.0.1" "-DsocksProxyPort=10801"]
 :dev-http {3001 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :module-hash-names true
                :modules {:main {:init-fn frontend.main/init!}}
                :build-hooks [(shadow.cljs.build-report/hook)]
                :devtools {:watch-dir "public"
                           :preloads [hashp.core]}}}}