{:dependencies []

 :deps {:alias [:shadow-cljs :common :frontend]}
 :dev-http {3001 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :module-hash-names true
                :modules {:main {:init-fn frontend.main/init!}}
                :build-hooks [(shadow.cljs.build-report/hook)]
                :devtools {:watch-dir "public"
                           :preloads [hashp.core]}}}}